body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-40px;
  width:750px;
  height:1334px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:281px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:295px;
  width:704px;
  height:281px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:132px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:114px;
  width:704px;
  height:1049px;
  overflow:hidden;
  touch-action:none;
}
#u97_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:1049px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u97_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:1475px;
  overflow:hidden;
}
#u98_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:1475px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u98_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:1299px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:704px;
  height:1299px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:642px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:181px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:114px;
  width:704px;
  height:181px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:82px;
  width:700px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:1203px;
  width:100px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:82px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
